!!! 5
%html
  %head
    %meta{ charset: "utf-8" }
    
    %title WMATA Debug
  
  %body
    %h3 Lines
    %ul
      - @lines.each do |code, line|
        %li 
          #{code} — 
          %a{ :href => url("/line/#{line.slug}") }
            #{line}
            
    %h3 Incidents
    %ul
      - @incidents.each do |incident|
        %li 
          <strong>#{incident.description}</strong>
          %br/
          Updated #{incident.updated}

    %h3 Stations
    %ul
      - @stations.each do |station|
        %li
          %a{ :href => url("/station/#{station.code}") }
            <strong>#{station.name}</strong> – #{station.code}
          %br/
          / Lines served: #{station.lines}<br/>
          Together with: #{station.together}