!!! 5
%html
  %head
    %meta{ charset: "utf-8" }
    
    %title WMATA Debug
  
  %body
    %h3 Lines
    %ul
      - @lines.each do |line|
        %li
          %strong
            #{line}
          —
          %a{ :href => url("/line/#{line.display_name.downcase}") }
            #{line.display_name}
    
    %br/
    %hr/

    %h3 Incidents
    %ul
      - @incidents.each do |incident|
        %li 
          <strong>#{incident.description}</strong>
          %br/
          / Updated #{incident.date_updated}

    %br/
    %hr/

    %h3 Stations
    %ul
      - @stations.each do |station|
        %li 
          %strong
            #{station.code}
          —
          %a{ :href => url("/station/#{station.code}") }
            #{station.name}