!!! 5
%html
  %head
    %meta{ charset: "utf-8" }
    
    %title #{@station} – WMATA Debug
  
  %body
    %a{ :href => url('/debug') }
      &larr; Back

    %h1 
      #{@station.name}
      %small
        #{@station.code}
    
    %h3 Serving #{pluralize(@station.lines.count, "Line")}:
    %ul 
      - @station.lines.each do |line|
        %li
          %strong
            #{line}
          —
          %a{ :href => url("/line/#{line.display_name.downcase}") }
            #{line.display_name}

    - if @station.elevator_incidents
      - if @station.elevator_incidents.unit_type == "ELEVATOR"
        %h3 Elevator Outage
        %p= @station.elevator_incidents.location_description
      
    