!!! 5
%html
  %head
    %meta{ charset: "utf-8" }
    
    %title #{@station} – WMATA Debug
  
  %body
    %a{ :href => url('/debug') }
      &larr; Back

    %h1 
      #{@station.name}
      %small
        #{@station.code}
    
    %h3 Serving #{pluralize(@station.lines.count, "Line")}:
    %ul 
      - @station.lines.each do |line|
        %li
          %a{ :href => url("/line/#{line.slug}") }
            = line

    %h3 Together With
    - if @station.together?
      #{@station.together}
    - else
      %p #{@station} is not a multi-level station.